:root {
  --color-white: #ffffff;
  --color-light-grey: #c4c4c4;
  --color-grey: #939393;
  --color-dark-grey: #302f37;
  --color-black: #000000;

  --font-size-xs: 0.875rem; //14px
  --font-size-s: 1rem; //16px
  --font-size-m: 1.25rem; //20px
  --font-size-l: 1.5rem; //24px
  --font-size-xl: 2rem; //32px
  --font-size-xxl: 2.25rem; //36px
  --font-size-xxxl: 2.5rem; //40px

  --font-weight-r: 300;
  --font-weight-sb: 600;
  --font-weight-b: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: var(--font-weight-r);
  font-size: var(--font-size-s);
  line-height: 1.5;
  padding: 1.3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1392px;
  padding: 0 1.25rem;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  display: none;
  visibility: hidden;
}
