.requestACall {
  display: none;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  min-height: 570px;
  padding: 2.5rem;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: rgba(#939393, 0.5) 0px 22px 70px 4px;
  z-index: 1000;


  &--active {
    display: flex;
  }

  &__close {
    margin-bottom: 1.5rem;
    align-self: flex-end;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 50%;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6L6 18M18 18L6 6.00001" stroke="black" stroke-width="2" stroke-linecap="round" /> </svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 15ms ease-in-out;

    &:hover,
    &:focus {
      background-color: var(--color-light-grey);
      border-color: var(--color-light-grey);
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-sb);
    line-height: 1.1;
  }

  &__desc {
    margin-bottom: 1.5rem;
    max-width: 70%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;

    input {
      padding: 1rem 2rem;
      background-color: transparent;
      border: 1px solid var(--color-light-grey);
      border-radius: var(--border-radius);
      color: var(--color-dark-grey);
      transition: all 10ms ease-in-out;

      &::placeholder {
        color: var(--color-dark-grey);
        opacity: 0.5;
      }

      &:hover,
      &:focus {
        background-color: var(--color-white2);
        color: var(--color-dark-grey);

        &::placeholder {
          color: var(--color-dark-grey);
        }
      }

      &:nth-child(2) {
        margin-bottom: 1.5rem;

      }
    }

    &-btn {
      margin-bottom: 1.5rem;
      padding: 1rem 2rem;
      background-color: var(--color-dark-grey);
      border: 1px solid var(--color-dark-grey);
      border-radius: var(--border-radius);
      color: var(--color-white);

      &:hover,
      &:focus {
        background-color: var(--color-black);
      }
    }
  }

  &__privacy {
    margin-bottom: 1rem;
    max-width: 80%;
    font-size: var(--font-size-xxs);
    color: var(--color-light-grey);
  }
}

@media (max-width: 568px) {
  .requestACall {
    padding: 1.5rem;
    top: calc(var(--header-top-height) + 2rem);
    transform: translate(-50%, 0);
    width: 97vw;

    &__title {
      font-size: var(--font-size-m);
    }

    &__desc {
      font-size: var(--font-size-xs);
      max-width: 100%;
    }

    &__form {
      width: 100%;
    }

    &__privacy {
      max-width: 100%;
    }
  }
}